DATABASE_HOSTNAME=postgres
DATABASE_PORT=5432
DATABASE_PASSWORD=
DATABASE_NAME=rag_db
DATABASE_USERNAME=rag_user


REDIS_URL=redis://redis:6379/0

OPENAI_API_KEY=
EMBEDDING_MODEL=text-embedding-3-small
EMBEDDING_DIM=1536

BASE_URL=https://api.openai.com/v1
API_KEY=
MODEL_NAME=gpt-4o-mini

UPLOAD_DIR=uploads
